.choice_level_button {
  padding: 5px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 120px 1fr;
  margin-top: 12px;
  margin-bottom: 18px;
}
.choice_level_text {
  font-size: 15px;
}
.choice_level_title {
  font-size: 17px;
  font-style: italic;
}
