.choice_level_button {
  display: flex;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 18px;
}
.choice_level_text {
  font-size: 15px;
}
.choice_level_title {
  font-size: 17px;
  font-style: italic;
}
